$footer-link-color:#fff;
$footer-link-hover: var(--b3);

// ===============================================
// COMPONENT SPECIFIC
// ==============================================

.footer {
    background: url(https://files-manywho-com.s3.amazonaws.com/833169c7-3807-43da-b087-0995e4eb67c4/footer-menu-pattern.svg) center 200px / 1500px repeat-x, #033d58;
    color: #FFF;
    padding:32px 0;
    margin-top:120px;
  a {
    color:$footer-link-color;
    &:hover, &:focus {
      color:var(--b3);
      text-decoration:none;
    }
  }
  .container {
    width:$hd;
    margin:0 auto;
  }
}

.footer-wrapper {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  @supports(display:grid){
    @include grid(#{$hd}, 7);
  }
}



.footer-col {

  &--box:not(:first-child)  {
    .footer-col--headline {
      margin-top:32px; 
    }
  }
  .footer-col--headline {
    margin-top:32px; 
    font-size:16px; 
    font-weight: 700; 
    line-height: 22px;
    margin-top:22px;
    display: block;
  }
    
  &--box-list {
    margin:0;
    padding:0;
    
    li {
      display: block; margin-bottom: 8px;
    }
    a { font-size:12px; font-weight: normal; }
  }
}



//bottom ==========================

.footer-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  @supports (display:grid) {
    @media (min-width:$tablet) {
      display:grid;
      grid-template-columns: 1fr 1fr;
      p:last-child{
        text-align:right;
      }
    }
  }
 
  p {
    grid-row:1;
    font-size:12px;
  }
  p:last-child {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}
.footer-social li {
    display: inline-block;
    font-size: 28px;
    padding-left: 20px;
}
.footer-social li:first-child {
    padding-left:0;
}


@supports (display: -ms-grid) {
  .footer-wrapper {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-around;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

   
  }
  .footer-bottom p {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}