$wide: 1920px;
$hd: 1360px;
$desktop: 1028px;
$tablet: 768px;

$brand1: #033d58;
$brand2: #009688;
$brand3: #ff7c66;
$brand4: #0087cc;
$brand5: #fedb00;
$gray1: #eeeeee;
$gray2: #ababab;
$gray3: #808080;
$gray4: #454545;




@import './flow-reset.scss';
@import './global.scss';
.mw-bs {
    @import './partials/nav.scss';
    @import './partials/hero.scss';
    @import './partials/tiles.scss';
    @import './partials/tagnav.scss';
    @import './partials/footer.scss';
    @import './partials/admin.scss';
    
}
