
// ===============================================
// COMPONENT SPECIFIC
// ==============================================
.wrapper-nav {
    background:#ffffff;     
    position: sticky;
    top:0; left:0;
    z-index:200;
    border-bottom: 1px solid #eee;
}
.topnav {
    background: $brand1;
    // border-top:3px solid $brand1; 
    @media (max-width:$tablet){
        text-align: center;
    }
    
    ul {
        margin: 0;
        padding: 0;
        display:flex;
        justify-content: flex-end;
        width:1360px;
        max-width:100%;
        margin:0 auto; 
        @supports (display: grid) {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr;
            grid-gap: 20px;
            @media(min-width:$tablet){ justify-content: end;}
        }
    }
    li {
        grid-row: 1;
        display: block;
        justify-content: center;
        align-self: center;
    }
    a {
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        display: block;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 400;
        &:hover,
        &:focus {
            background: $gray4;
        }
        &.alt {
            background: $brand3;
            padding: 0 2.6rem;
            color: $brand1;
        }
    }
}
.bottomnav {

    max-width:$hd;
    margin:0 auto;
    &-wrapper {
        align-items: center;
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        @supports (display: grid) {
            display: grid;
            grid-gap:0 20px;
            @media(min-width:$tablet){
                grid-template-columns: repeat(12, 1fr);
            }
        }
    }

    &-logo {
        width: 160px;
        height: auto;
        grid-column: 1/4;
        grid-row:1;
        @media(max-width:$tablet){
            grid-column:1;
        }
        img {
            max-width: 100%;
        }
    }
    &-subtitle {
     
        grid-column: 6/13;
        text-align:right;
        grid-row:1;
        justify-content: end;
        align-self:center;
        @media(max-width:$tablet){
            grid-column:2;
            font-size:16px;
        }
    }
    &-links {
        a {
            color: var(--b1);
            display: block;
        }
        @media (min-width: $tablet) {
            grid-column: 8/12;
            justify-content: end;
            ul {
                display: grid;
                margin: 0;
                padding: 0;
            }
            li {
                grid-row: 1;
                display: block;
            }
        }
    }
}

