.tile-wrapper {
    // padding:0 40px;
    margin-top: 120px;
    max-width: $hd;
    margin: 0 auto;
}
.tile-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    @supports (display: grid) {
        @include grid(#{$hd}, 5);
        grid-gap: 40px;
    }
    @media (max-width: $hd) {
        padding: 0 10px;
    }
}

.tile-item {
    position: relative;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 80px 1fr; /* img + content */
    width: 300px;
    max-width: 100%;
    transition: opacity 0.1s;
    // @supports (display:grid){
    //     max-width:100%;
    // }
    margin: 0 auto;
    &:hover,
    &:focus {
        .tile-img {
            background: $brand2;
            border-radius: 10px 10px 0 0;
            img {
                transform: rotate(-5deg) scale(1.1) translate(-50%, -50%);
                mix-blend-mode: multiply;
            }
        }
    }
    .tile-img {
        width: 100%;
        height: 80px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        position: relative;
        grid-row: 1;
        background: white;
        img {
            max-width: 500px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
            @media (max-width: $tablet) {
                max-width: $tablet;
            }
        }
    }

    .tile-content {
        position: relative;
        grid-row: 2;
        padding: 12px;
        background: #fff;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        @media (min-width: $desktop) {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 40px repeat(2, 1fr) auto;
            grid-template-rows: 0.5fr 0.5fr 0.7fr auto auto;
            grid-template-areas:
                'tileicon title title'
                'description description description'
                'learn . live'
                'label label label';
        }
    }
    .tile-icon {
        grid-area: tileicon;
        img {
            max-width: 100%;
            height: 40px;
        }
        @media (max-width: $desktop) {
            text-align: center;
        }
    }
    .tile-title {
        grid-area: title;
        align-self: top;
    }

    .tile-description {
        grid-area: description;
    }

    .tile-learn {
        grid-area: learn;
        align-self: center;

        @media (max-width: $desktop) {
            margin-bottom: 20px;
        }
    }

    .tile-live {
        grid-area: live;
        align-self: center;
        @media (max-width: $desktop) {
            margin-bottom: 20px;
        }
    }

    .tile-label {
        grid-area: label;

        cursor: pointer;
        .label {
            border-radius: 40px;
            display: inline-block;
            margin-right: 10px;
            color: $brand1;
            text-transform: capitalize;
            font-size: 13px;
            line-height: 1em;
            &:hover,
            &:focus {
                background-color: $brand1;
                color: $brand3;
            }
        }
    }
}
.tile-wrapper > .container:before {
    content: initial;
}

.label {
    font-weight: 100;
}

// TAGS ==================================

.tag-nav-wrapper {
    @extend .tile-wrapper;
}

.tag-nav-headline h2 {
    text-align: center;
    margin: 0 auto 40px;
    text-transform: capitalize;
    @media (min-width: $desktop) {
        font-size: 60px;
    }
}

.tag-nav-listing {
    max-width: 90%;
    margin: 0 auto 40px;
    text-align: center;
    @media (max-width: $tablet) {
        margin: 0 auto 10px;
    }
}
.tag-nav-item {
    display: inline-block;
    @media (max-width: $tablet) {
        font-size: 14px;
        margin: 2px;
    }
    button {
        border-radius: 3px;
        padding: 10px 20px;
        border-radius: 0;
        background: $brand2;
        color: $brand1;
        font-weight: 600;
        margin: 0.25em 0.1em;
        border-width: 0;
        font-weight: 100;
        color: #fff;
        outline: initial;
        text-transform: capitalize;
    }
}
.tag-nav-item:active,
.tag-nav-item:focus {
    background: $brand3;
    color: $brand1;
}

.tag-nav-item button:empty,
.tile-item .tile-label .label:empty {
    display: none;
}
