.tile-wrapper {
    // padding:0 40px;
    margin-top: 120px;
    max-width: $hd;
    margin: 0 auto;



}
.tile-listing {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    @supports (display:grid){
        @include grid(#{$hd}, 5);
        grid-gap: 40px;
    }
    @media(max-width:$hd) {
        padding:0 10px;
    }
}

.tile-item {
    position: relative;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 80px 1fr; /* img + content */
    max-width:300px;
    @supports (display:grid){
        max-width:100%;
    }
    &:hover, &:focus{
        .tile-img {
            background:$brand2;
            img {
                transform:rotate(-5deg) scale(1.1) translate(-50%,-50%);
                mix-blend-mode:multiply;
            }
            
        }
    }
    .tile-img {
        width: 100%;
        height: 80px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        position: relative;
        grid-row: 1;
        background:white;
        img {
            max-width: 500px;
            height: auto;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            transition:all 700ms cubic-bezier(0.19, 1, 0.22, 1);
            @media(max-width:$tablet){
                max-width: $tablet;
            }
        }
    }


    .tile-content {
        position: relative;
        grid-row: 2;
        padding: 20px;
        background: #fff;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        @media (min-width:$desktop) {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 40px repeat(2, 1fr) auto;
            grid-template-rows: auto auto 1fr auto auto;
            grid-template-areas:
            'tileicon title title'
            'description description description'
            'learn learn example'
            'label label label';
        }
    }
    .tile-icon {
        grid-area: tileicon;
        img {
            max-width: 40px;
        }
        @media (max-width:$desktop){
            text-align: center;
        }
    }
    .tile-title {
        grid-area: title;
        align-self: top;
    }

    .tile-description {
        grid-area: description;
    }

    .tile-learnmore {
        grid-area: learn;
        align-self: center;
        @media (max-width:$desktop){
            margin-bottom: 20px;
        }
    }

    .tile-example {
        grid-area: example;
        align-self: center;
        @media (max-width:$desktop){
            margin-bottom: 20px;
        }
    }

    .tile-label {
        grid-area: label;

        .label {
            border-radius: 40px;
            display: inline-block;
            margin-right: 10px;
            color: $brand1;
        }
    }
}
.tile-wrapper > .container:before {
    content: initial;
}

.label {
    font-weight: 100;
}


