
/* Fixes Spacing at the top */
.mw-bs .main:nth-of-type(1) { margin-top:0; }
/* Fixes spacing at the bottom */
.mw-bs .mw-container { margin-bottom: 0;}

.mw-bs .main.container {
    width:100%;
    @media(max-width:$tablet) {
        padding-left:0;
        padding-right:0;
    }
}
// Mobile fix
@media(max-width:$hd) {
    .mw-bs{
        .main.container {
            padding-left:0;
            padding-right:0;
        }
        .main { margin-bottom: 0;}
    }

}